In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'1.3.5'

In [3]:
np.__version__

'1.21.4'

In [4]:
housing_dataset = pd.read_csv('housing.txt')
housing_dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
housing_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [6]:
housing_dataset.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [7]:
housing_dataset.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [8]:
housing_dataset.nunique()

longitude               844
latitude                862
housing_median_age       52
total_rooms            5926
total_bedrooms         1923
population             3888
households             1815
median_income         12928
median_house_value     3842
ocean_proximity           5
dtype: int64

In [9]:
housing_dataset.groupby('ocean_proximity').describe()

                longitude                                                 \
                    count        mean       std     min     25%      50%
ocean_proximity
<1H OCEAN          9136.0 -118.847766  1.588888 -124.14 -118.50 -118.275
INLAND             6551.0 -119.732990  1.900950 -123.73 -121.35 -120.000
ISLAND                5.0 -118.354000  0.070569 -118.48 -118.33 -118.320
NEAR BAY           2290.0 -122.260694  0.147004 -122.59 -122.41 -122.250
NEAR OCEAN         2658.0 -119.332555  2.327307 -124.35 -122.02 -118.260

                                  latitude             ... median_income  \
                      75%     max    count       mean  ...           75%
ocean_proximity                                        ...
<1H OCEAN       -118.0000 -116.62   9136.0  34.560577  ...      5.180500
INLAND          -117.8400 -114.31   6551.0  36.731829  ...      3.961500
ISLAND          -118.3200 -118.32      5.0  33.358000  ...      2.833300
NEAR BAY        -122.1400 -122.01   2290.0  37.801057  ...      5.054425
NEAR OCEAN      -117.1825 -116.97   2658.0  34.738439  ...      4.837400

                         median_house_value                                \
                     max              count           mean            std
ocean_proximity
<1H OCEAN        15.0001             9136.0  240084.285464  106124.292213
INLAND           15.0001             6551.0  124805.392001   70007.908494
ISLAND            3.3906                5.0  380440.000000   80559.561816
NEAR BAY         15.0001             2290.0  259212.311790  122818.537064
NEAR OCEAN       15.0001             2658.0  249433.977427  122477.145927


                      min       25%       50%       75%       max
ocean_proximity
<1H OCEAN         17500.0  164100.0  214850.0  289100.0  500001.0
INLAND            14999.0   77500.0  108500.0  148950.0  500001.0
ISLAND           287500.0  300000.0  414700.0  450000.0  450000.0
NEAR BAY          22500.0  162500.0  233800.0  345700.0  500001.0
NEAR OCEAN        22500.0  150000.0  229450.0  322750.0  500001.0

[5 rows x 72 columns]

In [10]:
mean = housing_dataset['total_bedrooms'].mean()
mean

537.8705525375618

In [15]:
housing_dataset.fillna(value=mean, inplace=True)

In [16]:
housing_dataset.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [18]:
housing_dataset['total_bedrooms'].mean()

537.8705525375617

In [35]:
island = housing_dataset.loc[housing_dataset['ocean_proximity'] == 'ISLAND']
island

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
8315,-118.33,33.34,52.0,2359.0,591.0,1100.0,431.0,2.8333,414700.0,ISLAND
8316,-118.32,33.33,52.0,2127.0,512.0,733.0,288.0,3.3906,300000.0,ISLAND
8317,-118.32,33.34,52.0,996.0,264.0,341.0,160.0,2.7361,450000.0,ISLAND
8318,-118.48,33.43,29.0,716.0,214.0,422.0,173.0,2.6042,287500.0,ISLAND

In [36]:
island = island.iloc[:,2:5]
island

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [37]:
X = island.to_numpy()
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

In [38]:
X_T = X.T
X_T

array([[  27.,   52.,   52.,   52.,   29.],
       [1675., 2359., 2127.,  996.,  716.],
       [ 521.,  591.,  512.,  264.,  214.]])

In [40]:
XTX = np.matmul(X_T,X)
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [42]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [51]:
y = [950, 1300, 800, 1000, 1300]
w = np.dot(XTX_inv, X_T)
w = np.dot(w,y)
w

array([23.12330961, -1.48124183,  5.69922946])